## <font color="Greenyellow">Trabajo de Fin Master</font>
<a id="item0"></a>

### <font color="Greenyellow">Indice</font>


* [1. Inicializacion del notebook](#item1)
* [2. EDA (Analisis Exploratorio de Datos)](#item2)
* [3. ETL (Extracción, transformación y carga de datos)](#item3)
* [4. Modelo basico](#item4)

***
<a id="item1"></a>
### <font color="Greenyellow">1. Inicializacion del notebook</font>
[Volver al indice](#item0)

#### <font color="Greenyellow">1.1. Importacion de librerias</font>

In [2]:
# Analisis y transformacion de datos
import pandas as pd
# Gestor base de datos
import sqlite3

#### <font color="Greenyellow">1.2. Parametros del notebook</font>

Parametros que a priori NO cambian

In [7]:
carpeta_base_datos = 'bbdd'
carpeta_datos = 'data'

***
<a id="item2"></a>
### <font color="Greenyellow">2. Creacion e INSERT de datos a nuestra base de datos en SQLite</font>
[Volver al indice](#item0)

In [11]:
df = pd.read_csv(carpeta_datos + '/card_transdata.csv')
df

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
999995,2.207101,0.112651,1.626798,1.0,1.0,0.0,0.0,0.0
999996,19.872726,2.683904,2.778303,1.0,1.0,0.0,0.0,0.0
999997,2.914857,1.472687,0.218075,1.0,1.0,0.0,1.0,0.0
999998,4.258729,0.242023,0.475822,1.0,0.0,0.0,1.0,0.0
999999,58.108125,0.318110,0.386920,1.0,1.0,0.0,1.0,0.0

In [14]:
# Abrimos la conexion a la base de datos
conexion_bbdd = sqlite3.connect(f'{carpeta_base_datos}/base_datos_tfm.db')
# Hacemos INSERT de nuestros datos a la base de datos
df.to_sql('mis_datos', conexion_bbdd, if_exists='replace', index=False)
# Cerramos la conexion
conexion_bbdd.close()

***
<a id="item2"></a>
### <font color="Greenyellow">3. Prueba de extraccion de datos a nuestra base de datos</font>
[Volver al indice](#item0)

In [17]:
# Abrimos la conexion a la base de datos
conexion_bbdd = sqlite3.connect(f'{carpeta_base_datos}/base_datos_tfm.db')
df_select = pd.read_sql('SELECT * FROM mis_datos', conexion_bbdd)
conexion_bbdd.close()
df_select.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   distance_from_home              1000000 non-null  float64
 1   distance_from_last_transaction  1000000 non-null  float64
 2   ratio_to_median_purchase_price  1000000 non-null  float64
 3   repeat_retailer                 1000000 non-null  float64
 4   used_chip                       1000000 non-null  float64
 5   used_pin_number                 1000000 non-null  float64
 6   online_order                    1000000 non-null  float64
 7   fraud                           1000000 non-null  float64
dtypes: float64(8)
memory usage: 61.0 MB